@model User

<div class="container p-4">
    <div class="bg-light white-card">
        <div>
            <div class="text-center p-3">
                <h1>Bileti düzənlə</h1>
            </div>
            <div class="pt-4">
                <form action="UpdateContact" method="post">
                    <div class="p-3">
                        <label for="tb-title">Şirkət adı</label>
                        <input id="tb-title" asp-for="companyname" class="form-control" type="text" placeholder="Company name" required />
                    </div>
                    <div class="p-3">
                        <label for="tb-title">Email</label>
                        <input id="tb-title" asp-for="email" class="form-control" type="text" placeholder="test@gmail.com" required />
                    </div>
                    <div class="p-3">
                        <label for="tb-price">Whatsapp</label>
                        <input id="tb-title" asp-for="whatsapp" class="form-control" type="text" placeholder="+9941234567" required />
                    </div>
                    <div class="text-center p-3">
                        <button type="button" onclick="window.location.href='/Admin/Dashboard/Index'" class="custom-admin-cancel">Ləğv et</button>
                        <button type="submit" id="btn-save" class="custom-admin-button">Tətbiq et</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>